<div>
  <h1>Leagues compared internationally</h1>
  <p class="mat-body">Introduction about international league contests and their comparison modes used</p>
  <h1>Champions League Wins</h1>
  <p>The champions league is a seasonal football competition founded in 1955. Therefore 66 tournaments were played and
    66
    champions were crowned. The tournament features 32 group stage finalists competing in 8 groups before advancing to
    the
    knockout stages. The best two teams of each group advance to the knockout stages played in two leg, a home game for
    each team, games. There are five knockout rounds played including the final, though the final is only played as one
    game concluding the champions league season.</p>
  <p>All participants qualify either through their league ranking or qualification stages. Usually the bigger the league
    the more clubs can directly qualify for the champions league. Europe's four biggest leagues (England, Germany,
    Italy, Spain) all have four slots for direct qualification. Therefore those four leagues all have equal chances </p>
  <app-cl-winners></app-cl-winners>
  <app-country-stats></app-country-stats>
</div>
