<div>
  <h1>Leagues compared internationally</h1>
  <p class="mat-body">Many football fans say that a specific domestic league is the best in the world. Our target is to
    compare different leagues based on the last champions league winners and tables from other years for comparison to
    other countries. As things stand it is very difficult to determine “the strongest league”.</p>
  <h2>Champions League Wins</h2>
  <p>The Champions League (earlier called Coupe des Clubs Champions Européens and commonly known as the European Cup) is
    a seasonal football competition founded in 1955. Therefore 66 tournaments were played and 66 champions were crowned.
    The tournament features 32 group stage finalists competing in 8 groups before advancing to the knockout stages. The
    best two teams of each group advance to the knockout stages played in two leg, a home game for each team, games.
    There are five knockout rounds played including the final, though the final is only played as one game concluding
    the champions league season.</p>
  <p>Every champion from a league which is based in Europe can qualify for the group stage of the champions league.
    Certain leagues can even place up to 4 teams for the group stage. This is the result of a European point
    coefficient. With this rating it is taken into context how many points a country achieved over a 5-year span. With
    that, the higher this coefficient gets, the more teams can play in this competition. As the group stage has 8 groups
    with 4 teams each, only 32 teams can compete in this competition. As not every team from Europe can fit inside those
    groups, teams from countries with little point will get into qualifying rounds which then have the chance to play on
    the biggest competition for European club football.</p>
  <app-cl-winners></app-cl-winners>
  <app-country-stats></app-country-stats>
</div>
