<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="emptyFormGroup" label="International Comparison" state="phone">
    <form [formGroup]="emptyFormGroup">
      <div>
        <app-international></app-international>
        <button mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="leagueSelectionForm" label="Domestic Results">
    <form [formGroup]="leagueSelectionForm">
      <div>
        <app-domestic></app-domestic>
        <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
        <button mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="emptyFormGroup">
    <form [formGroup]="emptyFormGroup">
      <ng-template matStepLabel>Remarkable Domestic Seasons</ng-template>
      <p>Special domestic seasons (e.g. Arsenal's invincibles)</p>
      <div>
        <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
        <button mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="emptyFormGroup" label="Conclusion">
    <form [formGroup]="emptyFormGroup">
      <p>Show final results</p>
      <div>
        <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
        <button mat-stroked-button color="primary" (click)="stepper.reset()">Reset</button>
      </div>
    </form>
  </mat-step>

  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
