<h1>Conclusion</h1>
<p class="text-justify">Now, to come to our conclusion, no football league IS “the best” league. Every league has its
  own flair and atmosphere. But if we have to pick a league which is at the top then most people would say it is the
  Spanish league because they won the most Champions League titles. But if you look closely then only Real Madrid and FC
  Barcelona won some Champions League trophies over time. But if you look closely 3 teams each from Italy and Germany
  won the Champions League too. And 5 different teams from England won the Champions League too. With that, the more
  different teams won the trophy the better should the league be. More teams with high level of expertise improve the
  intensity and make the league more exciting as every team may battle for the title.
</p>
<div class="flex justify-center my-12">
  <div class="w-64 mx-8">
    <h2 class="text-center h-16">Most Champions League Titles</h2>
    <p class="text-center h-16 mb-16">League with the most champions league titles</p>
    <img class="w-64" src="/assets/img/trophy_conc.svg" alt="CL trophy">
    <h4 class="text-center mt-16">Winner: La Liga</h4>
    <h4 class="text-center">Runner Up: Premier League</h4>
  </div>
  <div class="w-64 mx-8">
    <h2 class="text-center h-16">Highest Market Values</h2>
    <p class="text-center h-16 mb-16">League with the highest overall market values</p>
    <img class="w-64" src="/assets/img/money_bag.svg" alt="Moneybag">
    <h4 class="text-center mt-16">Winner: Premier League</h4>
    <h4 class="text-center">Runner Up: Serie A</h4>
  </div>
  <div class="w-64 mx-8">
    <h2 class="text-center h-16">Most Balanced</h2>
    <p class="text-center h-16 mb-16">League with the most different teams winning the champions league</p>
    <img class="w-64" src="/assets/img/balance.svg" alt="Balance">
    <h4 class="text-center mt-16">Winner: Premier League</h4>
    <h4 class="text-center">Runner Up: Serie A</h4>
  </div>
</div>
<p class="text-justify">
  To conclude our statement, it is very difficult to determine the best football league based on any criteria as
  everyone has other opinions. But as we stated above, the more teams battle for the top the more exciting the league
  gets. As we value excitement most, the English Premier League is in our opinion the best league.
</p>
<div class="flex justify-center my-12">
  <div class="w-80">
    <h2 class="text-center h-16">Overall Winner</h2>
    <p class="text-center h-16 mb-16">Disclaimer: Does not claim to be fully objective</p>
    <img class="w-80" src="/assets/img/premier_league.svg" alt="Moneybag">
    <h4 class="text-center mt-16">Winner: Premier League</h4>
    <h4 class="text-center mb-1">Runner Up: Bundesliga</h4>
    <p class="text-center">Just because it lacks mentioning on this website</p>
  </div>
</div>
