<h1>Market Values compared</h1>
<p class="text-justify">Under the following graphic you can see the market value of the top 25 most valuable teams in
  world football. Most of the teams are located in England and play in the English Premier League. But now you may ask
  how such high market values are being generated. Those numbers that are presented here are being calculated from the
  value of every player inside the team. For example if a player is very good in football and counts to the 10 best
  players on the planet, those players will most likely have a high market value which is being calculated from the
  performances a player delivers on the football pitch. You may have heard of transfer sums of over 100 million Euros.
  This sounds like a lot of money but with every little detail from getting the player to the club and over the
  marketing of the player via social media or other commercials, generate money for the club and also many sales of
  shirts will also generate a lot of money and in the end even if a hefty sum has been paid, profit can be made. Also
  such aspects have a place in the market value of a player but the most important part of the value is the performance
  on the pitch.</p>
<h2>25 Most valuable Teams in the World</h2>
<p class="text-justify">And with that, teams mostly consist out of 26 to 32 players. With their combined market value,
  the market value of a club is being calculated. Football teams like Manchester United which have one of the biggest
  fan bases around the world are fanwise more valuable than Manchester City which are (at the point of writing) the most
  valuable club in the world when it comes to player values. So, it is very difficult to really estimate the value of a
  club and with that the commonly known value of a club is solely dependent on the players which are in the club as this
  number is much more easily calculated.</p>
<figure id="market-value"></figure>
<h2>Most valuable Teams by Country</h2>
<p class="text-justify">Also as you can see in the graphic, England and Italy have the most clubs in the top 25 of the
  most valuable clubs. The explanation for this is most likely the TV money which is being generated through match
  broadcasts. The Italian Serie A and the English Premier League are commonly known as two of the best leagues in the
  world and have a very big and strong fan base which watch almost every match of their team they support and with this
  generated TV money it is possible for clubs to buy more valuable players which results in getting the league even more
  exciting than before.</p>
<figure id="country-value"></figure>
