<h1>Domestic Results</h1>
<p class="text-justify">Apart from their international activities, the top four leagues also have their domestic
  championships. All of the leagues also have a national cup tournament played each year as well as a supercup trophy.
  England even has two cup competitions mainly differentiating in which league tier their starting. The supercup trophy
  is played in all of the leagues between the cup and league winner. England plays it between the FA Cup winner and the
  league winner.</p>
<div>
  <h2>Domestic trophies in top 4 leagues</h2>
  <div class="grid grid-cols-4 gap-4 place-items-center pb-8">
    <div>
      <h3 class="text-center">Spain</h3>
      <div class="grid grid-cols-3 gap-2 justify-items-center">
        <div>
          <img class="domestic-trophy" src="/assets/img/la_liga.svg" alt="La Liga trophy">
          <div class="h-10 text-center">La Liga (League)</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/copa_del_rey.svg" alt="Copa del Rey trophy">
          <div class="h-10 text-center">Copa del Rey (Cup)</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/spanish_supercup.svg" alt="Spanish Supercup trophy">
          <div class="h-10 text-center">Spanish Supercup</div>
        </div>
      </div>
    </div>
    <div>
      <h3 class="text-center">Italy</h3>
      <div class="grid grid-cols-3 gap-2">
        <div>
          <img class="domestic-trophy" src="/assets/img/serie_a.svg" alt="Serie A trophy">
          <div class="h-10 text-center">Serie-A (League)</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/italian_cup.svg" alt="Italian Cup trophy">
          <div class="h-10 leading-10 text-center">Italian Cup</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/italian_supercup.svg" alt="Italian Supercup trophy">
          <div class="h-10 leading-10 text-center">Italian Supercup</div>
        </div>
      </div>
    </div>
    <div>
      <h3 class="text-center">England</h3>
      <div class="grid grid-cols-4 gap-2">
        <div>
          <img class="domestic-trophy" src="/assets/img/premier_league.svg" alt="Premier League trophy">
          <div class="h-10 text-center">Premier League</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/fa_cup.svg" alt="FA Cup trophy">
          <div class="h-10 leading-10 text-center">FA Cup</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/league_cup.svg" alt="League Cup trophy">
          <div class="h-10 leading-10 text-center">League Cup</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/english_supercup.svg" alt="English Supercup trophy">
          <div class="h-10 text-center">English Supercup</div>
        </div>
      </div>
    </div>
    <div>
      <h3 class="text-center">Germany</h3>
      <div class="grid grid-cols-3 gap-2">
        <div>
          <img class="domestic-trophy" src="/assets/img/bundesliga.svg" alt="Bundesliga trophy">
          <div class="h-10 text-center">Bundesliga (League)</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/dfb_trophy.svg" alt="DFB Pokal trophy">
          <div class="h-10 text-center">DFB Pokal (Cup)</div>
        </div>
        <div>
          <img class="domestic-trophy" src="/assets/img/german_supercup.svg" alt="German Supercup trophy">
          <div class="h-10 text-center">German Supercup</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="domestic">
  <h2>League Statistics</h2>
  <p>Down below you may explore the league results of all four leagues. Earliest data is available from the english
    league which goes back until 1888. Spain's and Italy's datasets are available back until 1928 and 1929 respectively.
    Germany is only available until 1963.</p>
  <p>In case you are wondering about "lost" seasons between 1914 and 1919 as well as 1935 and 1945, those seasons were
    partly abandoned because of WWI and II</p>
  <div class="league-form">
    <mat-form-field class="pr-4" appearance="outline">
      <mat-label>League</mat-label>
      <mat-select [(ngModel)]="selectedLeague">
        <mat-option value="england">England</mat-option>
        <mat-option value="spain">Spain</mat-option>
        <mat-option value="germany">Germany</mat-option>
        <mat-option value="italy">Italy</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedLeague === 'england'" appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="selectedYear">
        <mat-option *ngFor="let year of eligibleYearsEngland" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedLeague === 'spain'" appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="selectedYear">
        <mat-option *ngFor="let year of eligibleYearsSpain" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedLeague === 'germany'" appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="selectedYear">
        <mat-option *ngFor="let year of eligibleYearsGermany" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedLeague === 'italy'" appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="selectedYear">
        <mat-option *ngFor="let year of eligibleYearsItaly" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-league-winners [dataSet]="dataSet" [isLoading]="isLoading"></app-league-winners>
</div>
